.root, .tabContainer {
    width: 262px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.addBig {
    font-family: inherit;
    font-size: xx-large;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 100%;
    color: white;
    background-color: #FF9F29;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 320px;
    z-index: 999;
}

.clearButton {
    font-family: inherit;
    font-size: x-large;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 100%;
    color: white;
    background-color: #FF9F29;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 54px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 215px;
    z-index: 999;
}

.toolBar {
    font-family: inherit;
    font-size: x-large;
    width: 195px;
    height: 48px;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
    display: flex;
    align-items: center;
}

.tool {
    font-family: inherit;
    font-size: x-large;
    width: 195px;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: fixed;
    top: 68px;
    left: 10px;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
}

.toolBar div {
    margin: 5px 0 0 20px;
    cursor: pointer;
}

.theme {
    width: 82.5px;
    height: 82.5px;
    margin: 0 0 10px 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.themeInner {
    width: 62.5px;
    height: 62.5px;
    background-color: white;
    border-radius: 100%;
}

.themeHeader {
    width: 100%;
    margin: 10px 0 10px 10px;
}

.customizationFont {
    width: 82.5px;
    padding: 8px 0;
    margin: 10px 0 0 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.setting {
    width: 82.5px;
    height: 40px;
    margin: 0 0 10px 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    line-height: 48px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.customizationColorContainer {
    width: 175px;
    margin: 10px 0 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.customizationColor {
    background-color: red;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    cursor: pointer;
}

.customizationFill {
    width: 82.5px;
    height: 40px;
    margin: 5px 0 10px 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.customizationFill .fill {
    width: 74.5px;
    height: 32px;
    border-radius: 5px;
    background-color: white;
    line-height: 32px;
}

.customizationFill .noFill {
    width: 74.5px;
    height: 32px;
    border-radius: 5px;
    color: white;
    line-height: 32px;
}

.searchBar {
    font-family: inherit;
    font-size: x-large;
    width: 300px;
    height: 48px;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    display: flex;
    align-items: center;
}

.searchBar input {
    margin-left: 10px;
    font-family: inherit;
    font-size: large;
    width: 220px;
    height: 20px;
    border: none;
}

.searchBar input:focus {
    outline: none;
}

.searchIcon {
    margin-left: 15px;
    cursor: pointer;
}

.searchResults {
    font-size: large;
    position: fixed;
    top: 68px;
    right: 10px;
    width: 300px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 12px;
    z-index: 999;
}

.searchResults div {
    padding: 8px 0 8px 10px;
    cursor: pointer;
}

.searchResults .result:hover {
    color: #FF9F29;
}

.tab {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    width: 218px;
    height: 38px;
    margin: 0;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.tab input {
    width: 204px;
    height: 28px;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-align: center;
    border: none;
    border-radius: 4px;
}

.tab textarea {
    width: 204px;
    height: 186px;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-align: center;
    border: none;
    border-radius: 4px;
    resize: none;
}

.tab input:focus, .tab textarea:focus{
    outline: none;
}

.connector {
    width: 28px;
    height: 28px;
    text-align: center;
    font-size: x-large;
    line-height: 36px;
}

.tabContainer button {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: large;
}

.longRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}